.bg-red-400[data-v-f19a02ec]{background-color:#ec5b70}.position-relative[data-v-f19a02ec]{position:relative}.position-absolute[data-v-f19a02ec]{position:absolute}.top-1\/2[data-v-f19a02ec]{top:50%}.left-1\/2[data-v-f19a02ec]{left:45%}
