.bg-red-400[data-v-595c4f29]{background-color:#ec5b70}.position-relative[data-v-595c4f29]{position:relative}.position-absolute[data-v-595c4f29]{position:absolute}.top-1\/2[data-v-595c4f29]{top:50%}.left-1\/2[data-v-595c4f29]{left:45%}
