.bg-red-400[data-v-c8719b7a]{background-color:#ec5b70}.position-relative[data-v-c8719b7a]{position:relative}.position-absolute[data-v-c8719b7a]{position:absolute}.top-1\/2[data-v-c8719b7a]{top:50%}.left-1\/2[data-v-c8719b7a]{left:45%}
